.genre_name {
    color: white;
}

.genre_box {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(23, 17, 41, 0.78);
    cursor: pointer;
}

.genre_box:hover {
    background: rgba(31, 23, 56, 0.83);
}