.pagination_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pagination_box h4 {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.button_prev_next {
    border: none;
    height: 8vh;
    width: 22vw;
    min-height: 20px;
    cursor: pointer;
    color: white;
    font-size: xxx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    margin-left: 1px;
    background: linear-gradient(to right, rgba(31, 23, 56, 0.62), #382c5d);
}

.left {
    background: linear-gradient(to left, rgba(31, 23, 56, 0.62), #382c5d);
}

.button_prev_next:hover {
    background: rgba(138, 131, 163, 0.8);
}

.button_prev_next:disabled {
    background: rgba(37, 31, 43, 0.13);
    cursor: auto;
    color: #282c34;
}

.page_num {
    font-size: smaller;
    margin-bottom: 1vh;
}

.currPage {
    font-size: larger;
}

.totalPage {
    color: rgba(138, 131, 163, 0.8);
}
