.footer_box {
    margin-top: auto;
    height:15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #140f24, rgba(0, 0, 0, 0.98));
    color: white;
}